{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel = "stylesheet" href="{%  static 'css/style.css' %}" />
<div class="about row container-fluid">
    <div class="pic col-6">
        <img src="{% static 'images/aboutus.jpg' %}" alt="sss">
    </div>
    <div class="writing col-6 ">
        <div class="lekha">
            <h1>
                Welcome to King's Restora, Where Food and Community Connect At
                King's Restora, we're more than just a place to eat.
            </h1>
        </div>
        <button style="margin-top: 30px;" type="button" class="btn btn-outline-dark btn-lg">Read More!!</button>
    </div>
</div>
{% endblock %}