{% extends 'base.html' %} {% load static %} {% block content %}
<div class="pura d-flex" style="justify-content: center">
  <div class="firsthalf" style="border-color: aqua;">
    <h1 style="text-align: center;">King's Restora</h1>
    <p style="text-align: center;">
      Welcome to King's Restora, Where Food and Community Connect At
      King's Restora, we're more than just a place to eat. We're a gathering
      place, a haven for good food and even better company. Whether you're
      celebrating a special occasion, catching up with loved ones, or simply
      seeking a moment of relaxation, we invite you to step into our warm
      embrace and experience the joy of sharing a meal.
    </p>
  </div>
  <div class="2ndone">
    <img src="{% static 'rest.jpg' %}" alt="nothing" style="height: 300px" />
  </div>
</div>
{% endblock %}
